<img src="img/icons/shri_photo.jpeg" alt="Школа разработки интерфейсов" class="content__image__float__right">
<h1 class="content__heading">О ШРИ</h1>
<p class="content__p">
  В 2013 году <span class="red-letter">Я</span>ндекс провёл набор во вторую Школу разработки интерфейсов. Этот сайт посвящен участникам этой школы: как <a href="#!/lectors" title="Посмотреть лекторов">лекторам</a> и <a href="#!/lectures" title="Посмотреть список и материалы лекций">лекциям</a>, так и <a href="#!/students" title="Посмотреть учеников">ученикам</a>.
</p>

<h2 class="content__heading">Структура школы</h2>

<h3 class="content__heading">Теоретический этап</h3>

<p class="content__p">
  Первый этап обучения представлял собой курс <a href="#!/lectures" title="Посмотреть список и материалы лекций">лекций</a>, посвящённых различным сторонам фронтенд-разработки. Лекции начались 7 сентября и продолжались в течение месяца. В конце курса слушателям предстоит экзамен. Лучшим студентам мы предложено пройти практический этап Школы.
</p>

<h3 class="content__heading">Практический этап</h3>

<p class="content__p">
  Практика — это отличный шанс увидеть работу Яндекса изнутри. Практиканты получат корпоративные компьютеры, пропуски в офис, а ещё и платиться стипендия. С середины октября до середины декабря практикантам предстоит выполнить большое задание под руководством опытного разработчика. Также во время практики будут продолжаться лекции.
</p>